body{
  background-color: white;
}
html, body {
  margin: 0; height: 100%; overflow: hidden
}

.jumbotron{
  background-color: #eeb045;
}

#clicker:hover{
  transform: scale(1.1);
}

#clicker:active{
  transform: scale(1.01);
}

.myTooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.myTooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.myTooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.myTooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.myTooltipRight {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.myTooltipRight .tooltiptextRight {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.myTooltipRight:hover .tooltiptextRight {
  visibility: visible;
}